@charset "UTF-8";
/*Variable*/
@-webkit-keyframes finishLine {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(100%);
  }
}
@keyframes finishLine {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(100%);
  }
}
/*Reset css*/
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Noto Sans TC", sans-serif;
  font-size: 62.5%; /* 10px/16px */
}

body {
  background-color: #dad7cd;
}

/*Todo List 文字刪除線動態*/
.finish {
  opacity: 70%;
}
.finish::after {
  content: "";
  height: 1px;
  width: 110%;
  max-width: 42rem;
  background-color: #ffffff;
  position: absolute;
  top: 2rem;
  left: -4%;
  -webkit-animation: finishLine 0.5s;
          animation: finishLine 0.5s;
  transform-origin: left;
}

/*Section stylesheet*/
.section {
  height: 100%;
  padding: 5rem 0;
  position: relative;
  display: flex;
  justify-content: center;
}
.section-todo {
  width: 60rem;
  background-color: #588157;
}

/*Heading stylesheet*/
.heading-box {
  margin: 4rem 6rem 2rem 6rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #ffffff;
}

.heading {
  color: #ffffff;
  font-size: 5rem;
  font-weight: 300;
  letter-spacing: 4px;
}

/*Todo List stylesheet*/
.list-box {
  margin: 1rem 0;
  font-size: 2.5rem;
  font-weight: 300;
}
.list-box-ul {
  list-style: none;
}
.list-box-li {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 6rem;
  width: 100%;
  color: #ffffff;
  background-color: rgba(163, 177, 139, 0.3);
}
.list-box-li:not(:last-child) {
  margin-bottom: 0.5rem;
}
.list-box-li > a {
  margin-top: 0.3rem;
  color: #ffffff;
  font-size: 2.5rem;
  text-decoration: none;
}
.list-box-li > label {
  position: relative;
}
.list-box-check {
  width: 2.5rem;
  height: 2.5rem;
  visibility: hidden;
  position: absolute;
  top: 0.7rem;
}
.list-box-check + span {
  display: inline-block;
  max-width: 40rem;
  margin-left: 5rem;
  letter-spacing: 3px;
  position: relative;
}
.list-box-check::before {
  content: "";
  display: inline-block;
  position: absolute;
  visibility: visible;
  width: 2.5rem;
  height: 2.5rem;
  border: 2px solid #ffffff;
  border-radius: 3px;
  background-color: transparent;
}
.list-box-check::after {
  content: "";
  display: inline-block;
  position: absolute;
  visibility: hidden;
  width: 2.5rem;
  height: 2.5rem;
  border: 2px solid #ffffff;
  border-radius: 3px;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj48cGF0aCBmaWxsPSIjZmZmZmZmIiBkPSJNMTczLjg5OCA0MzkuNDA0bC0xNjYuNC0xNjYuNGMtOS45OTctOS45OTctOS45OTctMjYuMjA2IDAtMzYuMjA0bDM2LjIwMy0zNi4yMDRjOS45OTctOS45OTggMjYuMjA3LTkuOTk4IDM2LjIwNCAwTDE5MiAzMTIuNjkgNDMyLjA5NSA3Mi41OTZjOS45OTctOS45OTcgMjYuMjA3LTkuOTk3IDM2LjIwNCAwbDM2LjIwMyAzNi4yMDRjOS45OTcgOS45OTcgOS45OTcgMjYuMjA2IDAgMzYuMjA0bC0yOTQuNCAyOTQuNDAxYy05Ljk5OCA5Ljk5Ny0yNi4yMDcgOS45OTctMzYuMjA0LS4wMDF6Ii8+PC9zdmc+");
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 13px 13px;
  background-position: center center;
}
.list-box-check:checked::before {
  visibility: hidden;
}
.list-box-check:checked::after {
  visibility: visible;
}

/*Form stylesheet*/
.form-box {
  padding: 4rem 6rem;
  font-size: 0;
}
.form-box-label {
  display: block;
  font-size: 2.5rem;
  font-weight: 300;
  color: #ffffff;
  letter-spacing: 3px;
  margin-bottom: 1rem;
}
.form-box-input {
  width: 35rem;
  padding: 1.1rem 1rem;
  border: none;
  font-size: 2rem;
  font-weight: 300;
  font-family: inherit;
}
.form-box-but {
  height: 5.1rem;
  font-size: 2rem;
  padding: 0 4rem;
  text-transform: uppercase;
  border: 1px solid #ffffff;
  color: #ffffff;
  background-color: transparent;
  margin-left: 0.5rem;
  cursor: pointer;
  vertical-align: top;
}/*# sourceMappingURL=main.css.map */